<ion-view title="Account">
	<ion-content>
		<div class="list account">
			<a class="item item-icon-right" href="#/app/personal-accnt">
Personal Info
 <i class="icon ion-chevron-right"></i>
  </a>
			<!-- <a class="item item-icon-right" href="#/app/chngpassword">
   Change Password
    <i class="icon ion-chevron-right"></i>
  </a> -->
			<a class="item item-icon-right" href="#/app/address">
 My Address Book
  <i class="icon ion-chevron-right"></i>
  </a>
			<a class="item item-icon-right" href="#/app/my-order">
   My Orders
    <i class="icon ion-chevron-right"></i>
  </a>
			<a class="item item-icon-right" href="#/app/favourites">
   My Favourites
    <i class="icon ion-chevron-right"></i>
  </a>
			<a class="item item-icon-right" href="#/app/savedviews">
  My Saved Views
    <i class="icon ion-chevron-right"></i>
  </a>
		</div>
	</ion-content>
</ion-view>
