<ion-view classs="bar-stable" title="PAINTING">
	<!--
    <ion-nav-title>
        <img src="img/logo.jpg" class="full-height">
    </ion-nav-title>
-->
	<ion-nav-buttons side="right">
		<button class="button button-clear button-icon ion-ios-search btn-font" ng-click="toggleSearchbar()" ng-hide="searchbar"></button>
		<button class="button button-icon ln-cart cart-btn"> <span class="badge badge-assertive cart">0</span></button>
	</ion-nav-buttons>
	<div class="bar bar-subheader bar-positive item-input-inset" ng-show="searchbar">
		<label class="item-input-wrapper">
			<i class="icon ion-ios-search placeholder-icon"></i>
			<input type="search" placeholder="search...">
		</label>
		<button ng-click="toggleSearchbar()" class="button button-icon button-clear">Cancel
		</button>
	</div>
	<div class="aur-logo">
		<img src="img/logo2.png" class="full-height">
	</div>
	<ion-content>
		<div class="img-holder-prd">
			<div class="img-holder-big text-center">
<!--				<a href="#" class="">Enlarge <i class="icon ion-arrow-expand"></i></a>-->
				<img src="img/artist/artist1.jpg">
			</div>
			<div class="list list-details padding">
				<div class="item" href="#">
					1
					<i class="icon ion-heart assertive"></i>
				</div>

				<div class="item assertive" href="#">
					Artist
					<span class="item-note assertive">Ajay R Dhandre</span>
				</div>
				<div class="item" href="#">
					Title
					<span class="item-note">Untitled</span>
				</div>
				<div class="item" href="#">
					Medium
					<span class="item-note">Water Colour &amp; Ink on Paper</span>
				</div>
				<div class="item" href="#">
					Size
					<span class="item-note">30 X 20 inches</span>
				</div>
				<div class="item" href="#">
					Year
					<span class="item-note">2005</span>
				</div>
				<div class="item" href="#">
					Price
					<span class="item-note">Rs. 30,000</span>
				</div>
			</div>
			<div class="btn-grp padding">
				<button class="button button-block">
					VIEW ARTWORK IN YOUR ROOM
				</button>
				<a href="#/app/cart" class="button button-block button-positive">
					ADD TO CART
				</a>
			</div>
			<div class="img-artist style1-bg padding">
				<div class="head head-artist" href="#">
					<span class="item-note">view all</span>
					<h5>MORE WORKS BY THIS ARTIST</h5>
				</div>
				<div class="row">
					<div class="col-25">
						<img src="img/artist/artist1.jpg" class="full-image">
					</div>
					<div class="col-25">
						<img src="img/artist/artist2.jpg" class="full-image">
					</div>
					<div class="col-25">
						<img src="img/artist/artist3.jpg" class="full-image">
					</div>
					<div class="col-25">
						<img src="img/artist/artist4.jpg" class="full-image">
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>