<ion-view classs="bar-stable" title="PAINTING">
	<ion-nav-buttons side="right">
		<a class="button button-clear button-icon right-btn ion-ios-telephone btn-font" href="tel:+919328877000"></a>
		<a class="button button-clear button-icon right-btn ion-android-search btn-font" href="#/app/search"></a>
		<button class="button button-icon ion-android-cart right-btn cart-btn"> <span class="badge badge-assertive cart">0</span></button>
	</ion-nav-buttons>
	<ion-content>
		<div class="img-holder-prd">
			<div class="box img-holder-big text-center">
				<img src="img/artist/artist1.jpg" class="full-image" ng-click="openModal();">
			</div>
			<div class="padding">
				<div class="list list-details" ng-repeat="item in artdetailcont">
					<label class="item item-input">
						<span class="label">#</span>
						<div class="item-map">{{item.id}}</div> <i class="ion ion-ios-heart assertive fav-art"></i>
					</label>
					<label class="item item-input">
						<span class="label assertive">Artist</span>
						<div class="item-map assertive">{{item.name}}</div>
					</label>
					<label class="item item-input">
						<span class="label">Title</span>
						<div class="item-map">{{item.title}}</div>
					</label>
					<label class="item item-input">
						<span class="label">Medium</span>
						<div class="item-map">{{item.medium}}</div>
					</label>
					<label class="item item-input">
						<span class="label">Size</span>
						<div class="item-map lowercase">{{item.size}}</div>
					</label>
					<label class="item item-input">
						<span class="label">Year</span>
						<div class="item-map">{{item.year}}</div>
					</label>
					<label class="item item-input">
						<span class="label">Price</span>
						<div class="item-map">{{item.price}} <span>(excluding VAT)</span></div>
					</label>
				</div>
				<div class="btn-grp">
					<!-- <button class="button button-block button-balanced icon-left ion-ios-home">
						View Artwork In Your Room
					</button> -->
					<a class="button button-block button-assertive icon-left ion-android-mail" ng-click="openContact();">
					Contact
					</a>
					<a href="#/app/cart" class="button button-positive button-block icon-left ion-ios-cart">
					Add To Cart
				</a>
				</div>
			</div>
			<div class="img-artist style1-bg padding">
				<div class="head-artist">
					<readmores>
						<span class="item-note readmore assertive">view profile</span>
						<span class="item-note pr15 assertive" ui-sref="app.artist-detail">view all</span>
						<h5>More Works By This Artist</h5>
						<div class="read-morecont">
							<div class="read-inner padding">
								<p><span class="bold">Born in</span>1983 <span class="bold">at</span> Andhra Pradesh</p>
								<p><span class="bold">Passed away</span>
								</p>
								<p><span class="bold">Education</span>
									<br>2006, Bachelor of Fine Arts, Andhra University, Vishakhapatnam
									<br>2008, Master of Fine Arts, Jamia Milia Islamia University, New Delhi
									<br>2008, Master of Fine Arts, Jamia Milia Islamia University, New Delhi
								</p>
								<p><span class="bold">Awards / Recognitions / Honors</span>
									<br>1995 , Elizabeth Greenshields Foundation Grant , Elizabeth Greenshields Foundation
									<br>1995 , Ravi Jain Award , Ravi Jain Foundation
								</p>
							</div>
						</div>
					</readmores>
				</div>
				<div class="row">
					<div class="col-25" ng-repeat="item in artistsimilar">
						<div class="img-slid">
							<a ui-sref="app.art-detail">
								<img ng-src="{{item.image}}" class="full-image">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
