<ion-view classs="bar-stable" title="Artist">
	<ion-content overflow-scroll="true" delegate-handle="ahandler">
		<div class="row animate-if" ng-repeat="artist in artistArr">
			<div class="col-50 padding-horizontal right-leftbr" ng-repeat="artistimages in artist">
				<a href="" ng-click="getHeight(artistimages);">
					<div class="prd-holder">
						<div class="title">
							<h5 class="text-center">{{artistimages.name}}</h5>
						</div>
						<div class="img-holder">
							<figure>
								<img ng-src="{{artistimages.artwork[0].image[0] | uploadthumbnail}}" class="full-image">
							</figure>
						</div>
					</div>
				</a>
			</div>
		</div>
		<ion-infinite-scroll on-infinite="addMoreItems()" ng-if="infiniteLoading"></ion-infinite-scroll>
	</ion-content>
	<ion-footer-bar class="tabs-down">
		<div class="tabs">
			<a class="tab-item" ng-click="makeactive('All');clearjStorage();">All</a>
			<a class="tab-item" ng-click="makeactive('Paintings');clearjStorage();">Paintings</a>
			<a class="tab-item" ng-click="makeactive('Sculptures');clearjStorage();">Sculptures</a>
			<a class="tab-item" ng-click="showCategory();">Others</a>
		</div>
	</ion-footer-bar>
</ion-view>
