<ion-view classs="bar-stable" title="Artist">
	<!--
    <ion-nav-title>
        <img src="img/logo.jpg" class="full-height">
    </ion-nav-title>
-->
	<ion-nav-buttons side="right">
		<button class="button button-clear button-icon ion-ios-search btn-font" ng-click="toggleSearchbar()" ng-hide="searchbar"></button>
		<button class="button button-icon ln-cart cart-btn"> <span class="badge badge-assertive cart">0</span></button>
	</ion-nav-buttons>
	<div class="bar bar-subheader bar-positive item-input-inset" ng-show="searchbar">
		<label class="item-input-wrapper">
			<i class="icon ion-ios-search placeholder-icon"></i>
			<input type="search" placeholder="search...">
		</label>
		<button ng-click="toggleSearchbar()" class="button button-icon button-clear">Cancel
		</button>
	</div>
	<div class="aur-logo">
		<img src="img/logo2.png" class="full-height">
	</div>
	<ion-content>
		<ion-scroll zooming="true" direction="x" style="width: auto">
			<ul class="artist-crisp">
				<li>
					<a href="" class="actives">
                           All
                            </a>
				</li>
				<li>
					<a href="" class="">
                           Paintings
                            </a>
				</li>
				<li>
					<a href="" class="">
                           Sculptures
                            </a>
				</li>
				<li>
					<a href="" class="">
                           Photographs
                            </a>
				</li>
				<li>
					<a href="" class="">Prints
                            </a>
				</li>
				<li>
					<a href="" class="">
                           Others
                            </a>
				</li>
			</ul>
		</ion-scroll>
		<!--
		<div class="grid-view">
			<select ng-model="tab">
				<option value="grid" selected>Grid View</option>
				<option value="list">List View</option>
			</select>
		</div>
-->
		<div class="row animate-if" ng-repeat="artist in aristname">
			<div class="col-50" ng-repeat="aristnames in artist">
				<a href="#/app/artist/detail">
					<div class="prd-holder">
						<div class="title">
							<h5 class="text-center">{{aristnames.name}}</h4>
                    </div>
                    <div class="img-holder">
                        <figure>
                            <img ng-src="{{aristnames.image}}" class="full-image">
                        </figure>
                    </div>
                </div>
                </a>
            </div>
        </div>  
    </ion-content>
</ion-view>