<ion-view classs="bar-stable" title="Artist">
	<!--
    <ion-nav-title>
        <img src="img/logo.jpg" class="full-height">
    </ion-nav-title>
-->
	<ion-nav-buttons side="right">
		<a class="button button-clear button-icon right-btn ion-ios-telephone btn-font" href="tel:+9124904496 "></a>
		<a class="button button-clear button-icon right-btn ion-android-search btn-font" href="#/app/search"></a>
		<button class="button button-icon ion-android-cart right-btn cart-btn"> <span class="badge badge-assertive cart">0</span></button>
	</ion-nav-buttons>
	<ion-content>
		<div class="row animate-if" ng-repeat="artist in aristname">
			<div class="col-50 padding-horizontal" ng-repeat="aristnames in artist">
				<a href="#/app/artist/detail">
					<div class="prd-holder">
						<div class="title">
							<h5 class="text-center">{{aristnames.name}}</h4>
                    </div>
                    <div class="img-holder">
                        <figure>
                            <img ng-src="{{aristnames.image}}" class="full-image">
                        </figure>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </ion-content>
<ion-footer-bar class="tabs-down">
 <div class="tabs">
  <a class="tab-item" ng-click="showCategory();">
 All
  </a>
<!--
  <a class="tab-item" ng-click="showFilter();">
    Filter
  </a>
  <a class="tab-item" ng-click="showSort();">
    Sort
  </a>
-->
</div>
</ion-footer-bar>
</ion-view>
