<ion-view title="Artist Details">
	<ion-nav-buttons side="right">
		<a class="button button-clear button-icon right-btn ion-ios-telephone btn-font" href="tel:+919328877000"></a>
		<a class="button button-clear button-icon right-btn ion-android-search btn-font" href="#/app/search"></a>
		<button class="button button-icon ion-android-cart right-btn cart-btn"> <span class="badge badge-assertive cart">0</span></button>
	</ion-nav-buttons>
	<ion-content>
		<div class="cont-artist padding">
			<readmores>
				<div class="item-note">
					<a class="color-black button bold" href="">Edit</a>
				</div>
				<div class="readmore item-note">
					<a class="color-black button bold" href="">View Profile </a>
				</div>
				<h4 class="assertive">TAPAS BASU
				</h4>
				<div class="read-morecont">
					<div class="read-inner padding">
						<p><span class="bold">Born in</span>1983 <span class="bold">at</span> Andhra Pradesh</p>
						<p><span class="bold">Passed away</span>
						</p>
						<p><span class="bold">Education</span>
							<br>2006, Bachelor of Fine Arts, Andhra University, Vishakhapatnam
							<br>2008, Master of Fine Arts, Jamia Milia Islamia University, New Delhi
							<br>2008, Master of Fine Arts, Jamia Milia Islamia University, New Delhi
						</p>
						<p><span class="bold">Awards / Recognitions / Honors</span>
							<br>1995 , Elizabeth Greenshields Foundation Grant , Elizabeth Greenshields Foundation
							<br>1995 , Ravi Jain Award , Ravi Jain Foundation
						</p>
					</div>
				</div>
			</readmores>
		</div>
		<div class="row" ng-repeat="detail in artistdetail">
			<div class="col-50 padding-horizontal" ng-repeat="details in detail">
				<div class="prd-cont">
					<a href="#/app/art-detail">
						<div class="img-holder">
							<figure>
								<img ng-src="{{details.image}}" class="full-image">
							</figure>
						</div>
					</a>
					<div class="artist-cont-detail">
						<p>
							<span>{{details.id}}</span>
						</p>
						<p>
							{{details.typename}}
						</p>
						<p>
							{{details.madein}}
						</p>
						<p>
							{{details.size}} inches
						</p>
						<p>
							{{details.year}}
						</p>
						<p>
							{{details.price}}
						</p>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
