<ion-view title="Artworks">
	<!--
    <ion-nav-title>
        <img src="img/logo.jpg" class="full-height">
    </ion-nav-title>
-->
	<ion-nav-buttons side="right">
		<button class="button button-clear button-icon ion-android-search right-btn btn-font" ng-click="toggleSearchbar()" ng-hide="searchbar"></button>
		<button class="button button-icon ion-android-cart right-btn cart-btn"> <span class="badge badge-assertive cart">0</span></button>
	</ion-nav-buttons>
	<div class="bar bar-subheader bar-positive item-input-inset" ng-show="searchbar">
		<label class="item-input-wrapper">
			<i class="icon ion-ios-search placeholder-icon"></i>
			<input type="search" placeholder="search...">
		</label>
		<button ng-click="toggleSearchbar()" class="button button-icon button-clear">Cancel
		</button>
	</div>
	<ion-content>
		<div class="row" ng-repeat="detail in artistdetail">
			<div class="col-50" ng-repeat="details in detail">
				<div class="prd-cont">
				<a href="#/app/art-detail">
					<div class="img-holder">
						<figure>
							<img ng-src="{{details.image}}" class="full-image">
						</figure>
					</div>
					</a>
					<div class="artist-cont-detail">
						<p>
							{{details.id}}
						</p>
						<p>
							{{details.typename}}
						</p>
						<p>
							{{details.madein}}
						</p>
						<p>
							{{details.size}}
						</p>
						<p>
							{{details.year}}
						</p>
						<p>
							{{details.price}}
						</p>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>