<ion-view title="Artworks">
	<ion-nav-buttons side="right">
		<a class="button button-clear button-icon right-btn ion-ios-telephone btn-font" href="tel:+919328877000"></a>
		<a class="button button-clear button-icon right-btn ion-android-search btn-font" href="#/app/search"></a>
		<button class="button button-icon ion-android-cart right-btn cart-btn"> <span class="badge badge-assertive cart">0</span></button>
	</ion-nav-buttons>
	<div class="tabs-striped tabs-top">
		<div class="tabs">
			<a class="tab-item" ng-click="showFilter();">
				Filter
			</a>
			<a class="tab-item" ng-click="showSort();">
				Sort
			</a>
		</div>
	</div>
	<ion-content class="has-tabs made">
		<div class="row" collection-repeat="detail in totalArtworks">
			<div class="col-50 padding-horizontal right-leftbr" ng-repeat="totalartconts in detail">
				<div class="prd-cont" ng-click="goToDetailPage(totalartconts.artwork);">
					<a href="">
						<div class="img-holder">
							<figure>
								<img ng-src="{{totalartconts.artwork.image[0]|uploadthumbnail}}" class="full-image">
							</figure>
						</div>
					</a>
					<div class="artist-cont-detail">
						<p>
							{{totalartconts.artwork.imageno}}
						</p>
						<p>
							{{totalartconts.name}}
						</p>
						<p>
							{{totalartconts.artwork|makesizestr}}
						</p>
						<p ng-if="totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' && totalartconts.artwork.status!='sold'">
							Rs {{totalartconts.artwork.gprice|inlakhs}} / ${{totalartconts.artwork.gprice|indollars}}
						</p>
						<p ng-if="!totalartconts.artwork.gprice || totalartconts.artwork.gprice=='N/A'">
							Price available on request
						</p>
					</div>
				</div>
			</div>
		</div>
		<ion-infinite-scroll on-infinite="addMoreItems()" ng-if="infiniteLoading"></ion-infinite-scroll>
	</ion-content>
	<ion-footer-bar class="tabs-down">
		<div class="tabs">
			<a class="tab-item">
	 		All
	  </a>
			<a class="tab-item">
	    Paintings
	  </a>
			<a class="tab-item">
	    Sculptures
	  </a>
			<a class="tab-item" ng-click="showCategory();">
	    Others
	  </a>
		</div>
	</ion-footer-bar>
</ion-view>
