<ion-view title="Artworks">
	<ion-nav-buttons side="right">
		<a class="button button-clear button-icon right-btn ion-android-search btn-font" href="#/app/search"></a>
		<button class="button button-icon ion-android-cart right-btn cart-btn"> <span class="badge badge-assertive cart">0</span></button>
	</ion-nav-buttons>
	<ion-content>
		<div class="row" ng-repeat="detail in artistdetail">
			<div class="col-50 padding-horizontal" ng-repeat="details in detail">
				<div class="prd-cont">
					<a href="#/app/art-detail">
						<div class="img-holder">
							<figure>
								<img ng-src="{{details.image}}" class="full-image">
							</figure>
						</div>
					</a>
					<div class="artist-cont-detail">
						<p>
							{{details.id}}
						</p>
						<p>
							{{details.name}}
						</p>
						<p>
							{{details.size}}
						</p>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
	<ion-footer-bar class="tabs-down">
		<div class="tabs">
			<a class="tab-item" ng-click="showFilter();">
    Filter
  </a>
			<a class="tab-item" ng-click="showSort();">
    Sort
  </a>
		</div>
	</ion-footer-bar>
</ion-view>