<ion-view view-title="Cart">
<!--
 <ion-nav-title>
    <img src="img/logo.jpg" class="full-height">
</ion-nav-title>
-->
    <ion-nav-buttons side="right">
        <button class="button button-clear button-icon ion-android-search btn-font" ng-click="toggleSearchbar()" ng-hide="searchbar"></button>
        <button class="button button-icon ion-android-cart cart-btn"> <span class="badge badge-assertive cart">0</span></button>
    </ion-nav-buttons>
    
    <div class="bar bar-subheader bar-positive item-input-inset" ng-show="searchbar">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="search...">
        </label>
        <button ng-click="toggleSearchbar()" class="button button-icon button-clear">Cancel
        </button>
    </div>
    <ion-content class="">
        <div class="list thumbnail">
            <a class="item item-thumbnail-left">
                <img src="img/artist/artist1.jpg">
                <h3>Id</h3>
                <h3 class="">Artist Name</h3>
                <h3 class="">Title Name</h3>
                <h3>Rs.1,00,000/ $6,400</h3>
                <h3 class="">Quantity: 1</h3>
                <button class="button button-clear button-assertive button-small remove-btn">REMOVE</button>
            </a>
            <!-- end ngRepeat: product in products -->
            <div class="item item-divider">Discount</div>
            <div class="item item-input-inset item-positive-mate">
                <label class="item-input-wrapper positive">
                    <input type="text" placeholder="Enter your coupon code" class="discountcoupon form-control newsletteremail ng-pristine ng-valid">
                </label>
                <button class="button button-positive button-small">
                    Submit
                </button>
            </div>
            <a class="item cart-cont" href="#">
                Subtotal Amount
                <span class="item-note">
                   Rs.1,00,000/ $6,400
                </span>
            </a>
            <a class="item cart-cont" href="#">
               Discounted Amount
                <span class="item-note">
                     Rs 0.00
                </span>
            </a>
            <a class="item cart-cont">
                Total Amount
                <span class="item-note">
                    Rs.1,00,000/ $6,400
                </span>
            </a>
        </div>
        <div class="padding">
            <a href="#/app/checkout" class="button button-block button-positive">Proceed to checkout</a>
		</div>
    </ion-content>
</ion-view>