<ion-modal-view>
	<ion-header-bar class="header-rights" align-title="center">
		<h1 class="title">Select Catergory</h1>
		<div class="buttons">
			<button class="button button-clear button-icon ion-close-round btn-close" ng-click="closeCategory()"></button>
		</div>
	</ion-header-bar>
	<ion-content>
		<div class="list catogories">
			<label class="item item-radio">
				<input type="radio" name="group" value="on">
				<div class="item-content">
					All
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-content">
					Paintings
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-content">
					Sculptures
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-content">
					Photographs
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-content">
					Prints
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-content">
					Others
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
		</div>
		<div class="padding-horizontal">
			<button class="button button-full button-positive">
				Submit
			</button>
		</div>
	</ion-content>
</ion-modal-view>