<ion-view title="Change Password">
	<div class="bar bar-subheader bar-positive item-input-inset" ng-show="searchbar">
		<label class="item-input-wrapper">
			<i class="icon ion-ios-search placeholder-icon"></i>
			<input type="search" placeholder="search...">
		</label>
		<button ng-click="toggleSearchbar()" class="button button-icon button-clear">Cancel
		</button>
	</div>
	<ion-content class="has-header cont-checkout">
		<div class="list">
			<label class="item item-input">
				<input type="password" placeholder="Old Password*" required>
			</label>
			<label class="item item-input">
				<input type="password" placeholder="New Password*" required>
			</label>
			<label class="item item-input">
				<input type="password" placeholder="Confirm Password*" required>
			</label>
		</div>
		<div class="padding-horizontal">
			<button class="button button-full button-positive">
				Save
			</button>
		</div>
	</ion-content>
</ion-view>
