<ion-view title="Contact Us">
	<ion-nav-buttons side="right">
		<a class="button button-clear button-icon right-btn ion-ios-telephone btn-font" href="tel:+9124904496 "></a>
		<a class="button button-clear button-icon right-btn ion-android-search btn-font" href="#/app/search"></a>
		<button class="button button-icon ion-android-cart right-btn cart-btn"> <span class="badge badge-assertive cart">0</span></button>
	</ion-nav-buttons>
	<ion-content>
		<div class="contact">
			<div class="row">
				<div class="col">
					<div class="c-name">
						<h4>Daljit S Sethi</h4>
						<a href="tel:+919820351667">+91 98203 51667</a>
					</div>
					<div class="c-name">
						<h4>Harmeet S Sethi </h4>
						<a href="tel:+919328877000">+91 93288 77000</a>
						<a href="mailto:harmeet@auraart.in">harmeet@auraart.in </a>
						<a href="mailto:harmeetssethi@gmail.com">harmeetssethi@gmail.com</a>
					</div>
					<div class="c-name">
						<h4>Rishiraj S Sethi</h4>
						<a href="tel:+919820345740">+91 98203 45740</a>
						<a href="mailto:rishiraj@auraart.in">rishiraj@auraart.in</a>
						<a href="mailto:rishirajssethi@gmail.com">rishirajssethi@gmail.com</a>
					</div>
				</div>
				<div class="col">
					<div class="c-name">
						<h4>Office (Mumbai)</h4>
						<p>A-117, 1st floor, Vinay Bhavya 159, CST Road, Kalina Santacruz (East)
							<br>Mumbai - 400 098
							<br>
							<a href="tel:+912226524557">Tel: +91 22 2652 4557</a>
						</p>
					</div>
					<div class="c-name">
						<h4>Office (Vadodara)</h4>
						<p>633, Fortune Tower Sayajigunj
							<br>Vadodara - 390 005</p>
					</div>
					<h4>Registered Office</h4>
					<p>Mangal Prabhat, 7th Floor Gulmohar Cross Road No 7 Vile Parle (W)
						<br>Mumbai - 400 049</p>
				</div>
			</div>
		</div>
		<div class="contact-form">
			<h4 class="">Send Us Query</h4>
			<div class="list">
				<label class="item item-input">
					<input type="text" placeholder="Name*" required>
				</label>
				<label class="item item-input">
					<input type="text" placeholder="Phone No*" required>
				</label>
				<label class="item item-input">
					<input type="text" placeholder="Email ID*" required>
				</label>
				<label class="item item-input">
					<textarea placeholder="Observations &amp; Queries *" required></textarea>
				</label>
				<div class="padding">
					<button class="button button-block button-positive">
						Submit
					</button>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
