<ion-view title="Contact Us">
	<ion-content>
		<div class="contact">
			<div class="row">
				<div class="col">
					<div class="c-name">
						<h4>Harmeet S Sethi </h4>
						<a href="tel:+919328877000">+91 93288 77000</a>
						<a href="mailto:harmeet@auraart.in">harmeet@auraart.in </a>
					</div>
					<div class="c-name">
						<h4>Rishiraj S Sethi</h4>
						<a href="tel:+919820345740">+91 98203 45740</a>
						<a href="mailto:rishiraj@auraart.in">rishiraj@auraart.in</a>
					</div>
					<div class="c-name">
						<h4>Daljit S Sethi</h4>
						<a href="tel:+919820351667">+91 98203 51667</a>
					</div>
				</div>
				<div class="col">
					<div class="c-name">
						<h4> Gallery-cum-office</h4>
						<p> Aura Art eConnect Pvt Ltd
							<br> 126 TV Industrial Estate
							<br>SK Ahire Marg Worli
							<br>Mumbai - 400 030
							<br>
							<a href="tel:+9124912325">Tel: +91 24912325</a>
							<br> <a href="tel:+9124904496">Tel: +91 24904496</a>
						</p>
					</div>
					<div class="c-name">
						<h4>Office</h4>
						<p>
							633 Fortune Tower Sayajigunj
							<br>Vadodara - 390 005</p>
					</div>
					<div class="c-name">
						<h4>Registered Office</h4>
						<p>Mangal Prabhat 7th Floor Gulmohar Cross Road No 7 Vile Parle (W)
							<br>Mumbai - 400 049</p>
					</div>
				</div>
			</div>
		</div>
		<div class="contact-form">
			<!-- <h4 class="">Send Us Query</h4> -->
			<div class="list">
				<form ng-submit="submitQuery();" name="reachOut">
					<label class="item item-input">
						<input type="text" placeholder="Name" ng-model="reach.person">
					</label>
					<label class="item item-input">
						<input type="text" placeholder="Phone No" ng-model="reach.number">
					</label>
					<label class="item item-input">
						<input type="text" placeholder="Email ID*" required ng-model="reach.from">
					</label>
					<label class="item item-input">
						<textarea placeholder="Observations &amp; Queries *" required ng-model="reach.remarks"></textarea>
					</label>
					<div class="padding">
						<button type="submit" class="button button-block button-positive" ng-disabled="reachOut.$invalid">
							Submit
						</button>
					</div>
				</form>
			</div>
		</div>
	</ion-content>
</ion-view>
