<ion-modal-view>
	<ion-header-bar class="header-rights" align-title="center">
		<h1 class="title">Billing Address</h1>
		<div class="buttons">
			<button class="button button-clear button-icon ion-close-round btn-close" ng-click="closeBilling()"></button>
		</div>
	</ion-header-bar>
	<ion-content>
		<div class="list">
			<!-- <label class="item item-input">
				<textarea placeholder="Address*" required></textarea>
			</label> -->
			<label class="item item-input">
				<input type="text" placeholder="House No" ng-model="user.billing.flatno">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Name Of Building" ng-model="user.billing.bldgname">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Landmark" ng-model="user.billing.landmark">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Street" ng-model="user.billing.street">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Locality" ng-model="user.billing.locality">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="City" ng-model="user.billing.city">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Pincode" ng-model="user.billing.pincode">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="State" ng-model="user.billing.state">
			</label>
			<label class="item item-input item-select">
				<div class="input-label">
					Select Country
				</div>
				<select class="form-control" ng-options="country.code as country.name for country in allcountries" ng-model="user.billing.country" placeholder="Select county"></select>
			</label>
		</div>
		<div class="padding-horizontal">
			<button class="button button-full button-positive" ng-click="edituser();">
				Save
			</button>
		</div>
	</ion-content>
</ion-modal-view>
