<ion-view title="Event Details">
	<ion-nav-buttons side="right">
		<a class="button button-clear button-icon right-btn ion-ios-telephone btn-font" href="tel:+9124904496 "></a>
		<a class="button button-clear button-icon right-btn ion-android-search btn-font" href="#/app/search"></a>
		<button class="button button-icon ion-android-cart right-btn cart-btn"> <span class="badge badge-assertive cart">0</span></button>
	</ion-nav-buttons>
	<ion-content class="padding">
		<div class="eventpad" ng-repeat="events in event">
			<div class="row">
				<div class="eventdetail">
					<h5 class="assertive home-header">{{events.name}}</h5>
					<p><span>Event Venue</span> : {{events.venue}}</p>
					<p><span>Period of show </span> : {{events.Period}}</p>
					<p><span>Event Time</span> : {{events.time}}</p>
				</div>
			</div>
			<div class="row">
				<div class="eventdetail">
					<span>Details :</span>
					<p ng-bind-html="events.detail | rawHtml"></p>
				</div>
			</div>
			<!-- <div class="eventgallery">
				<div class="event-pic">
					<ion-gallery ion-gallery-items="items" ion-gallery-row="3"></ion-gallery>
				</div>
			</div> -->
			<div class="row" ng-repeat="gal in gallery">
				<div class="col-33" ng-repeat="gals in gal">
					<div class="eventgallery" ng-click="showeventimage();">
						<div class="event-pic" fixit>
							<img class="fix-img" ng-src="{{gals.image}}">
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
