<ion-view title="Events">
	<ion-nav-buttons side="right">
		<a class="button button-clear button-icon right-btn ion-ios-telephone btn-font" href="tel:+9124904496 "></a>
		<a class="button button-clear button-icon right-btn ion-android-search btn-font" href="#/app/search"></a>
		<button class="button button-icon ion-android-cart right-btn cart-btn"> <span class="badge badge-assertive cart">0</span></button>
	</ion-nav-buttons>
	<ion-content class="padding">
		<div class="event-set">
			<div class="all-events search-box">
				<h5 class="assertive home-header padtop">Upcoming Events</h5>
				<h5 class="eventhead">2016</h5>
				<div class="row" ng-repeat="events in event2016">
					<div class="col-50" ng-repeat="event in events">
						<div class="event-detail ">
							<div class="data-event">
								<h6 class="font-color2">{{event.name}}</h6>
								<p>{{event.detail}}</p>
							</div>
							<a href="#/app/eventdetail">
								<div class="event-img media-img text-center">
									<figure>
										<img ng-src="{{event.img}}" class="img-responsive">
									</figure>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="all-events search-box">
				<h5 class="assertive home-header padtop">Present Events</h5>
				<h5 class="eventhead">2015</h5>
				<div class="row" ng-repeat="events in event2015">
					<div class="col-50" ng-repeat="event in events">
						<div class="event-detail ">
							<div class="data-event">
								<h6 class="font-color2">{{event.name}}</h6>
								<p>{{event.detail}}</p>
							</div>
							<a href="#/app/eventdetail">
								<div class="media-img event-img text-center">
									<figure>
										<img ng-src="{{event.img}}" class="img-responsive">
									</figure>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="all-events search-box">
				<h5 class="assertive home-header padtop">Past Events</h5>
				<h5 class="eventhead">2014</h5>
				<div class="row" ng-repeat="events in event2014">
					<div class="col-50" ng-repeat="event in events">
						<div class="event-detail ">
							<div class="data-event">
								<h6 class="font-color2">{{event.name}}</h6>
								<p>{{event.detail}}</p>
							</div>
							<a href="#/app/eventdetail">
								<div class="media-img event-img text-center">
									<figure>
										<img ng-src="{{event.img}}" class="img-responsive">
									</figure>
								</div>
							</a>
						</div>
					</div>
				</div>
				<h5 class="eventhead">2013</h5>
				<div class="row" ng-repeat="events in event2014">
					<div class="col-50" ng-repeat="event in events">
						<div class="event-detail ">
							<div class="data-event">
								<h6 class="font-color2">{{event.name}}</h6>
								<p>{{event.detail}}</p>
							</div>
							<a href="#/app/eventdetail">
								<div class="media-img event-img text-center">
									<figure>
										<img ng-src="{{event.img}}" class="img-responsive">
									</figure>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
