<ion-view title="Events">
	<ion-content class="padding">
		<div class="event-set">
			<div class="all-events search-box" ng-if="events.upcoming && events.upcoming.length>0">
				<h5 class="assertive home-header padtop">Upcoming Events</h5>
				<div class="row-boot" ng-repeat="event1 in events.upcoming">
					<div class="no-flex">
						<h5 class="eventhead">{{event1[0].year}}</h5>
					</div>
					<div class="col-md50" ng-repeat="event in event1 | orderBy:'-startdate'">
						<div class="event-detail" ui-sref="app.eventdetail({id:event._id})">
							<div class="data-event">
								<h6 class="font-color2">{{event.name}}</h6>
								<p>{{event.detail}}</p>
							</div>
							<a href="">
								<div class="event-img media-img text-center">
									<figure>
										<img ng-src="{{event.homeimg | uploadthumbnail}}" class="img-responsive">
									</figure>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="all-events search-box" ng-if="events.current && events.current.length>0">
				<h5 class="assertive home-header padtop">Current Events</h5>
				<div class="row-boot" ng-repeat="currevent in events.current">
					<div class="no-flex">
						<h5 class="eventhead">{{currentYear}}</h5>
					</div>
					<div class="col-md50" ng-repeat="event in currevent | orderBy:'-startdate'">
						<div class="event-detail" ui-sref="app.eventdetail({id:event._id})">
							<div class="data-event">
								<h6 class="font-color2">{{event.name}}</h6>
								<p>{{event.detail}}</p>
							</div>
							<a href="#/app/eventdetail">
								<div class="media-img event-img text-center">
									<figure>
										<img ng-src="{{event.img}}" class="img-responsive">
									</figure>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="all-events search-box" ng-if="events.past && events.past.length>0">
				<h5 class="assertive home-header padtop">Past Events</h5>
				<div class="row-boot" ng-repeat="event1 in events.past">
					<div class="no-flex">
						<h5 class="eventhead">{{event1[0].year}}</h5>
					</div>
					<div class="col-md50" ng-repeat="event in event1 | orderBy:'-startdate'">
						<div class="event-detail" ui-sref="app.eventdetail({id:event._id})">
							<div class="data-event">
								<h6 class="font-color2">{{event.name}}</h6>
								<p>{{event.detail}}</p>
							</div>
							<a href="#/app/eventdetail">
								<div class="media-img event-img text-center">
									<figure>
										<img ng-src="{{event.homeimg|uploadthumbnail}}" class="img-responsive">
									</figure>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
