<ion-view classs="bar-stable" title="Favourites">
    <ion-content>
        <div class="row" ng-repeat="detail in myFavourites">
            <div class="col-50 padding-horizontal right-leftbr" ng-repeat="artistdetails in detail">
                <div class="prd-cont">
                    <a href="" ng-click="goToDetail(artistdetails.artwork)">
                        <div class="img-holder">
                            <figure>
                                <img ng-src='{{artistdetails.artwork.image[0]|uploadthumbnail}}' class="full-image">
                            </figure>
                        </div>
                    </a>
                    <div class="artist-cont-detail">
                        <p>
                            <span ng-if="artistdetails.artwork.imageno">{{artistdetails.artwork.imageno}}</span>
                        </p>
                        <p>
                            <span ng-if="artistdetails.artwork.name && artistdetails.artwork.name!=''">{{artistdetails.artwork.name}}</span>
                        </p>
                        <p>
                            <span ng-if="artistdetails.artwork.subtype.length>0 && artistdetails.artwork.subtype[0].name!=''">{{artistdetails.artwork.subtype[0].name}}</span>
                        </p>
                        <p>
                            {{artistdetails.artwork|makesizestr}}
                        </p>
                        <p>
                            <span ng-if="artistdetails.artwork.yoc && artistdetails.artwork.yoc!=''">{{artistdetails.artwork.yoc}}</span>
                        </p>
                        <p>
                            <span ng-if="artistdetails.gprice && artistdetails.gprice!='N/A'">
								Rs {{artistdetails.gprice|inlakhs}} / ${{artistdetails.gprice|indollars}}
							</span>
                            <span ng-if="!artistdetails.gprice || artistdetails.gprice=='N/A'">
								Available on request
							</span>
                        </p>
                        <button class="button button-clear button-assertive button-small remove-btn" ng-click="removeFromFav(artistdetails.artwork._id)">REMOVE</button>
                    </div>
                </div>
            </div>
        </div>
        <ion-list ng-show="noFavs">
            <ion-item>
                <p class="text-center font-special">You have not added any artworks to favourites yet.
                    <br>Click <i class="ion-ios-heart-outline assertive"></i> to add to favourites.
                </p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
