<ion-view>
	<ion-header-bar class="header-rights" align-title="center">
		<h1 class="title">Forgot Password</h1>
		<div class="buttons">
			<a class="button button-clear button-icon ion-close-round btn-font" href="#/app/home"></a>
		</div>
	</ion-header-bar>
	<ion-content class="">
		<!--		<h4 class="title text-center">Sign Up</h4>-->
		<div class="text-center logo-sign">
			<figure>
				<img src="img/logo.png" class="full-size" width="60%">
			</figure>
		</div>
		<form ng-submit="forgotpassword()">
			<div class="list  reg-login">
				<label class="item item-input">
					<i class="icon ion-ios-email placeholder-icon"></i>
					<input ng-model="forgot.email" type="email" placeholder="Email" required>
				</label>
				<div class="btn-grp padding">
					<button class="button button-block button-positive" type="submit">Submit</button>
				</div>
			</div>
		</form>
	</ion-content>
</ion-view>
