<ion-view class="custom-home">
	<ion-nav-title>
		<img src="img/logo.jpg" class="full-height">
	</ion-nav-title>
	<ion-nav-buttons side="right">
		<a class="button button-clear button-icon right-btn ion-ios-telephone btn-font" href="tel:+9124904496 "></a>
		<a class="button button-clear button-icon right-btn ion-android-search btn-font" href="#/app/search"></a>
		<button class="button button-icon ion-android-cart right-btn cart-btn"> <span class="badge badge-assertive cart">0</span></button>
	</ion-nav-buttons>
	<div class="aur-logo">
		<img src="img/logo2.png">
	</div>
	<ion-tabs class="tabs-striped tabs-top tabs-top1 tabs-color-active-positive ">
		<ion-tab title="Home" href="#/app/home"></ion-tab>
		<ion-tab title="Artists" href="#/app/artist"></ion-tab>
		<ion-tab title="Paintings & More" href="#/app/artwork/all"></ion-tab>
	</ion-tabs>

	<ion-content class="has-tabs-top1 padding">
		<div class="home-holder">
			<ion-slide-box on-slide-changed="slideHasChanged($index)">
				<ion-slide>
					<img src="img/slide1.jpg" class="full-image">
				</ion-slide>
				<ion-slide>
					<img src="img/slide2.jpg" class="full-image">
				</ion-slide>
			</ion-slide-box>
			<div class="list margin-btm">
				<ion-list class="panel-list search-panel">
					<div class="search-top item item-divider border-topnone">
						<div class="src-text"><i class="icon ion-chevron-right"></i>Search for</div>
						<button class="button button-positive button-block src-btn">Go</button>
					</div>
					<ion-checkbox>Paintings</ion-checkbox>
					<ion-checkbox>Sculptures</ion-checkbox>
					<ion-checkbox>Photographs</ion-checkbox>
					<ion-checkbox>Prints</ion-checkbox>
				</ion-list>
				<ion-list class="panel-list search-panel">
					<readmores class="">
						<div class="search-top item item-divider readmore">
							<div class="src-texts"><i class="icon ion-chevron-down"></i>Search By Artist</div>
						</div>
						<div class="read-morecont">
							<div class="read-inner">
								<label class="item item-input">
									<input type="text" placeholder="Name*" required>
								</label>
							</div>
						</div>
					</readmores>
				</ion-list>
				<ion-list class="panel-list search-panel">
					<readmores class="">
						<div class="search-top item item-divider readmore">
							<div class="src-texts"><i class="icon ion-chevron-down"></i>Search By Price</div>
						</div>
						<!--
						<div class="src-text readmore">
							<i class="ln-chevron-right"></i> Search By Price
						</div>
-->
						<div class="read-morecont">
							<div class="read-inner">
								<div class="min-max">
									<div range-slider min="minPrice" max="maxPrice" model-min="filterby.minprice" model-max="filterby.maxprice" step="5"></div>
									<input type="number" max="100000" placeholder="10000000" class="maxmin pull-right" ng-model="filterby.maxprice">
									<input type="number" maxlength="1000" placeholder="0" class="maxmin" ng-model="filterby.minprice">
								</div>
							</div>
						</div>
					</readmores>
				</ion-list>
				<ion-list class="panel-list search-panel">
					<readmores>
						<div class="search-top item item-divider readmore">
							<div class="src-texts"><i class="icon ion-chevron-down"></i> Search By Size (inches)</div>
						</div>
						<div class="read-morecont">
							<div class="read-inner inner-main">
								<div class="min-max margin-top-zero ng-scope">
									<h3 class="margin-top-zero">Height</h3>
									<input type="number" placeholder="max-height" class="maxmin pull-right">
									<input type="number" placeholder="min-height" class="maxmin">
									<h3>Width</h3>
									<input type="number" placeholder="max-width" class="maxmin pull-right">
									<input type="number" placeholder="min-width" class="maxmin">
									<h3>Depth</h3>
									<input type="number" placeholder="max-Depth" class="maxmin pull-right">
									<input type="number" placeholder="min-Depth" class="maxmin">
								</div>
							</div>
						</div>
					</readmores>
				</ion-list>
				<ion-list class="panel-list search-panel">
					<readmores class="">
						<div class="search-top item item-divider readmore">
							<div class="src-texts"><i class="icon ion-chevron-down"></i> Search By Medium</div>
						</div>
						<div class="read-morecont">
							<div class="read-inner">
								<label class="item item-input">
									<input type="text" placeholder="Medium*" required>
								</label>
							</div>
						</div>
					</readmores>
				</ion-list>
			</div>
		</div>
		<button class="button button-positive button-block martoptwo btn-home">Search</button>
		<!-- <div class="heading padding-vertical assertive text-center htwo">
			<h4 class="marbottwo">Customised Solutions</h4>
		</div>
		<div class="artbox">
			<div class="row">
				<div class="col">
					<div class="box-grey">
						<img src="img/room.jpg" class="full-image">
						<span class="text-heading">View Artwork <br>
						in your room</span>
					</div>
				</div>
				<div class="col">
					<div class="box-grey">
						<img src="img/frame.jpg" class="full-image">
						<span class="text-heading">Custom <br>Framing</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="box-grey">
						<img src="img/sculpture.jpg" class="full-image">
						<span class="text-heading">Commisioned <br> Sculptures</span>
					</div>
				</div>
				<div class="col ">
					<div class="box-grey border-colr">
						<img src="img/leadership.jpg" class="full-image">
						<div class="img-detail text-center">
							<h5>THOUGHT LEADERSHIP &amp; DEVELOPMENTS</h5>
							<p>
								Aura Art announces ICICI Lombard as Insurance Partner.
							</p>
							<button class="button button-positive button-block img-btn">know more</button>
						</div>
					</div>
</div>
</div>
</div> -->

		<div class="heading padding-vertical assertive text-center htwo">
			<h4 class="marbot">Artworks</h4>
		</div>
		<div class="artbox">
			<div class="row">
				<div class="col">
					<a href="#" alt="">
						<img src="img/painting1.jpg" class="full-image" alt="painting">
						<span class="text-heading">Paintings</span></a>
				</div>
				<div class="col">
					<a href="#" alt="">
						<img src="img/sculpture1.jpg" class="full-image" alt="sculpture">
						<span class="text-heading">Sculptures</span></a>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<a href="#" alt="">
						<img src="img/sculpture.jpg" class="full-image" alt="sculpture">
						<span class="text-heading">Commissioned sculptures</span></a>
				</div>
				<div class="col">
					<img src="img/photograph1.jpg" class="full-image" alt="photographs">
					<span class="text-heading">Photographs</span></a>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<a href="#" alt="">
						<img src="img/print1.jpg" class="full-image" alt="prints">
						<span class="text-heading">Prints</span></a>
				</div>
				<div class="col">
					<a href="#" alt="">
						<img src="img/blog.jpg" class="full-image" alt="prints">
						<span class="text-heading">Blog</span></a>
				</div>
			</div>
		</div>
		<div class="heading padding-vertical assertive text-center htwo padbottom">
			<h4 class="marbottwo">Contact Us</h4>
		</div>
		<div class="contact">
			<div class="row">
				<div class="col">
					<div class="c-name">
						<h4>Harmeet S Sethi</h4>
						<a href="tel:+919328877000">+91 93288 77000</a>
						<a href="mailto:harmeet@auraart.in">harmeet@auraart.in </a>
					</div>
					<div class="c-name">
						<h4>Rishiraj S Sethi</h4>
						<a href="tel:+919820345740">+91 98203 45740</a>
						<a href="mailto:rishiraj@auraart.in">rishiraj@auraart.in</a>
					</div>
					<div class="c-name">
						<h4>Daljit S Sethi</h4>
						<a href="tel:++919820351667">+91 98203 51667</a>
					</div>
				</div>
				<div class="col">
					<div class="c-name">
						<h4> Gallery-cum-office</h4>
						<p> 126, TV Industrial Estate, SK Ahire Marg, Worli
							<br>Mumbai - 400 030
							<br>
							<a href="tel:+9124912325">Tel: +91 24912325</a>
						<br>	<a href="tel:+9124904496">Tel: +91 24904496</a>
						</p>
					</div>
					<div class="c-name">
						<h4>Office</h4>
						<p>
							633, Fortune Tower, Sayajigunj,
							<br>Vadodara - 390 005</p>
					</div>
					<h4>Registered Office</h4>
					<p>Mangal Prabhat, 7th Floor Gulmohar Cross Road No 7 Vile Parle (W)
						<br>Mumbai - 400 049</p>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
