<ion-view class="custom-home" cache-view="false">
	<ion-nav-title>
		<a href="" ui-sref="app.home">
			<img src="img/logo.jpg" class="home-logo">
		</a>
	</ion-nav-title>
	<!-- <ion-nav-title>
		<img src="img/logo.jpg" class="full-height">
	</ion-nav-title>
	<ion-nav-buttons side="right">
		<a class="button button-clear button-icon right-btn ion-ios-telephone btn-font" href="tel:+919328877000"></a>
		<a class="button button-clear button-icon right-btn ion-android-search btn-font" href="#/app/search"></a>
		<button class="button button-icon ion-android-cart right-btn cart-btn"> <span class="badge badge-assertive cart">0</span></button>
	</ion-nav-buttons> -->
	<div class="aur-logo">
		<img src="img/logo2.png">
	</div>
	<ion-tabs class="tabs-striped tabs-top tabs-top1 tabs-color-active-positive ">
		<ion-tab title="Home" href="#/app/home"></ion-tab>
		<ion-tab title="Artists" href="#/app/artist/All"></ion-tab>
		<ion-tab title="Paintings & More" href="#/app/artwork/All"></ion-tab>
	</ion-tabs>

	<ion-content class="has-tabs-top1 padding">
		<div class="home-holder">
			<ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true" slide-interval="5000">
				<ion-slide ng-repeat="slide in slides.image" ng-click="goToArtwork(slide);">
					<img ng-src="{{slide.image | uploadpath}}" class="full-image">
				</ion-slide>
				<!-- <ion-slide>
					<img src="img/slide2.jpg" class="full-image">
				</ion-slide> -->
			</ion-slide-box>
			<div class="list margin-btm">
				<ion-list class="panel-list search-panel">
					<div class="search-top item item-divider border-topnone">
						<div class="src-text"><i class="icon ion-chevron-right"></i>Search for</div>
						<button class="button button-positive button-block src-btn" ng-click="applyfilter()">Go</button>
					</div>
					<ion-radio ng-model="a.abcd" ng-change="changetype(1)" ng-value="'Paintings'">Paintings</ion-radio>
					<ion-radio ng-model="a.abcd" ng-change="changetype(2)" ng-value="'Sculptures'">Sculptures</ion-radio>
					<ion-radio ng-model="a.abcd" ng-change="changetype(3)" ng-value="'Photographs'">Photographs</ion-radio>
					<ion-radio ng-model="a.abcd" ng-change="changetype(4)" ng-value="'Prints'">Prints</ion-radio>
					<!-- <ion-checkbox ng-change="changetype(1)">Paintings</ion-checkbox>
					<ion-checkbox ng-change="changetype(1)">Sculptures</ion-checkbox>
					<ion-checkbox ng-change="changetype(1)">Photographs</ion-checkbox>
					<ion-checkbox ng-change="changetype(1)">Prints</ion-checkbox> -->
				</ion-list>
				<ion-list class="panel-list search-panel">
					<readmores class="">
						<div class="search-top item item-divider readmore">
							<div class="src-texts"><i class="icon ion-chevron-down"></i>Search By Artist</div>
						</div>
						<div class="read-morecont">
							<div class="read-inner">
								<div class="item item-input" ng-click="openSearch1();">
									<p ng-if="!filterby.search">Enter/Select Artist Name</p>
									<p ng-if="filterby.search">{{filterby.search}}</p>
									<!-- <ui-select demo="{{onfock}}" ng-model="filterby.search" on-select="setSearch($select);">
										<ui-select-match class="text-capitalize" placeholder="Enter/Select Artist Name">{{filterby.search}}</ui-select-match>
										<ui-select-choices refresh-delay="0" refresh="getDropdown($select.search)" repeat="person in allartist track by person._id">
											<div ng-bind-html="person.name| addhighlight: $select.search"></div>
										</ui-select-choices>
									</ui-select> -->
								</div>
							</div>
						</div>
					</readmores>
				</ion-list>
				<ion-list class="panel-list search-panel">
					<readmores class="">
						<div class="search-top item item-divider readmore">
							<div class="src-texts"><i class="icon ion-chevron-down"></i>Search By Price</div>
						</div>
						<!--
						<div class="src-text readmore">
							<i class="ln-chevron-right"></i> Search By Price
						</div>
-->
						<div class="read-morecont">
							<div class="read-inner">
								<div class="min-max">
									<div range-slider min="minPrice" max="maxPrice" model-min="filterby.minprice" model-max="filterby.maxprice" step="5"></div>
									<input type="number" placeholder="10000000" class="maxmin pull-right" ng-model="filterby.maxprice">
									<input type="number" placeholder="0" class="maxmin" ng-model="filterby.minprice">
								</div>
							</div>
						</div>
					</readmores>
				</ion-list>
				<ion-list class="panel-list search-panel">
					<readmores>
						<div class="search-top item item-divider readmore">
							<div class="src-texts"><i class="icon ion-chevron-down"></i> Search By Size (inches)</div>
						</div>
						<div class="read-morecont">
							<div class="read-inner inner-main">
								<div class="min-max margin-top-zero ng-scope">
									<h3 class="margin-top-zero">Height</h3>
									<input type="number" placeholder="max-height" class="maxmin pull-right" ng-model="filterby.maxheight">
									<input type="number" placeholder="min-height" class="maxmin" ng-model="filterby.minheight">
									<h3>Width</h3>
									<input type="number" placeholder="max-width" class="maxmin pull-right" ng-model="filterby.maxwidth">
									<input type="number" placeholder="min-width" class="maxmin" ng-model="filterby.minwidth">
									<h3>Depth</h3>
									<input type="number" placeholder="max-Depth" class="maxmin pull-right" ng-model="filterby.maxbreadth">
									<input type="number" placeholder="min-Depth" class="maxmin" ng-model="filterby.minbreadth">
								</div>
							</div>
						</div>
					</readmores>
				</ion-list>
				<ion-list class="panel-list search-panel">
					<readmores class="">
						<div class="search-top item item-divider readmore">
							<div class="src-texts"><i class="icon ion-chevron-down"></i> Search By Medium</div>
						</div>
						<div class="read-morecont">
							<div class="read-inner">
								<div class="item item-input" ng-click="openSearch2();">
									<p ng-if="!filterby.medium">Enter/Select Medium</p>
									<p ng-if="filterby.medium">{{filterby.medium}}</p>
									<!-- <ui-select ng-model="filterby.medium" on-select="setMediumSearch($select);">
										<ui-select-match class="text-capitalize" placeholder="Enter/Select Medium">{{filterby.medium}}</ui-select-match>
										<ui-select-choices refresh-delay="0" refresh="getDropdownMedium($select.search)" repeat="person in allmedium track by person._id">
											<div ng-bind-html="person.name| addhighlight: $select.search"></div>
										</ui-select-choices>
									</ui-select> -->
								</div>
							</div>
						</div>
					</readmores>
				</ion-list>
				<ion-list class="panel-list search-panel">
					<readmores class="">
						<div class="search-top item item-divider readmore">
							<div class="src-texts"><i class="icon ion-chevron-down"></i>Keywords</div>
						</div>
						<div class="read-morecont">
							<div class="read-inner">
								<div class="item item-input" ng-click="openSearch3();">
									<p ng-if="!filterby.color">Color (Eg. Red, Blue, White, Black)</p>
									<p ng-if="filterby.color">{{filterby.color}}</p>
									<!-- <ui-select ng-model="filterby.color" on-select="setColorSearch($select);">
										<ui-select-match class="text-capitalize" placeholder="Color (Eg. Red, Blue, White, Black)">{{filterby.color}}</ui-select-match>
										<ui-select-choices refresh-delay="0" refresh="getColorDropdown($select.search)" repeat="person in allColor track by person._id">
											<div ng-bind-html="person.name| addhighlight: $select.search"></div>
										</ui-select-choices>
									</ui-select> -->
								</div>
								<div class="item item-input" ng-click="openSearch4();">
									<p ng-if="!filterby.style">Style (Eg. Abstract, Figurative)</p>
									<p ng-if="filterby.style">{{filterby.style}}</p>
									<!-- <ui-select ng-model="filterby.style" on-select="setStyleSearch($select);">
										<ui-select-match class="text-capitalize" placeholder="Style (Eg. Abstract, Figurative)">{{filterby.style}}</ui-select-match>
										<ui-select-choices refresh-delay="0" refresh="getStyleDropdown($select.search)" repeat="person in allStyle track by person._id">
											<div ng-bind-html="person.name| addhighlight: $select.search"></div>
										</ui-select-choices>
									</ui-select> -->
								</div>
								<div class="item item-input" ng-click="openSearch5();">
									<p ng-if="!filterby.element">Elements (Eg. Buddha, Bird)</p>
									<p ng-if="filterby.element">{{filterby.element}}</p>
									<!-- <ui-select ng-model="filterby.element" on-select="setElementSearch($select);">
										<ui-select-match class="text-capitalize" placeholder="Elements (Eg. Buddha, Bird)">{{filterby.element}}</ui-select-match>
										<ui-select-choices refresh-delay="0" refresh="getElementDropdown($select.search)" repeat="person in allElement track by person._id">
											<div ng-bind-html="person.name| addhighlight: $select.search"></div>
										</ui-select-choices>
									</ui-select> -->
								</div>
							</div>
						</div>
					</readmores>
				</ion-list>
			</div>
		</div>
		<div class="row crow">
			<div class="col">
				<button class="button button-positive button-block martoptwo btn-home" ng-click="clearfilters()">Clear</button>
			</div>
			<div class="col">
				<button class="button button-positive button-block martoptwo btn-home" ng-click="applyfilter()">Go</button>
			</div>
		</div>
		<!-- <div class="heading padding-vertical assertive text-center htwo">
			<h4 class="marbottwo">Customised Solutions</h4>
		</div>
		<div class="artbox">
			<div class="row">
				<div class="col">
					<div class="box-grey">
						<img src="img/room.jpg" class="full-image">
						<span class="text-heading">View Artwork <br>
						in your room</span>
					</div>
				</div>
				<div class="col">
					<div class="box-grey">
						<img src="img/frame.jpg" class="full-image">
						<span class="text-heading">Custom <br>Framing</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="box-grey">
						<img src="img/sculpture.jpg" class="full-image">
						<span class="text-heading">Commisioned <br> Sculptures</span>
					</div>
				</div>
				<div class="col ">
					<div class="box-grey border-colr">
						<img src="img/leadership.jpg" class="full-image">
						<div class="img-detail text-center">
							<h5>THOUGHT LEADERSHIP &amp; DEVELOPMENTS</h5>
							<p>
								Aura Art announces ICICI Lombard as Insurance Partner.
							</p>
							<button class="button button-positive button-block img-btn">know more</button>
						</div>
					</div>
</div>
</div>
</div> -->

		<div class="heading padding-vertical assertive text-center htwo">
			<h4 class="marbot">Artworks</h4>
		</div>
		<div class="artbox">
			<div class="row">
				<div class="col" ng-click="goToArtworks('Paintings')">
					<a href="" alt="">
						<img src="img/painting1.jpg" class="full-image" alt="painting">
						<span class="text-heading">Paintings</span></a>
				</div>
				<div class="col" ng-click="goToArtworks('Sculptures')">
					<a href="" alt="">
						<img src="img/sculpture1.jpg" class="full-image" alt="sculpture">
						<span class="text-heading">Sculptures</span></a>
				</div>
			</div>
			<div class="row">
				<div class="col" ng-click="lauchedSoon();">
					<a href="" alt="">
						<img src="img/sculpture.jpg" class="full-image" alt="sculpture">
						<span class="text-heading">Commissioned sculptures</span></a>
				</div>
				<div class="col" ng-click="goToArtworks('Photographs')">
					<img src="img/photograph1.jpg" class="full-image" alt="photographs">
					<span class="text-heading">Photographs</span></a>
				</div>
			</div>
			<div class="row">
				<div class="col" ng-click="goToArtworks('Prints')">
					<a href="" alt="">
						<img src="img/print1.jpg" class="full-image" alt="prints">
						<span class="text-heading">Prints</span></a>
				</div>
				<div class="col" ng-click="openBlog()">
					<a href="" alt="">
						<img src="img/blogimage.jpg" class="full-image" alt="prints">
						<span class="text-heading">Blog</span></a>
				</div>
			</div>
		</div>
		<div class="heading padding-vertical assertive text-center htwo padbottom">
			<h4 class="marbottwo">Contact Us</h4>
		</div>
		<div class="contact">
			<div class="row">
				<div class="col">
					<div class="c-name">
						<h4>Harmeet S Sethi</h4>
						<a href="tel:+919328877000">+91 93288 77000</a>
						<a href="mailto:harmeet@auraart.in">harmeet@auraart.in </a>
					</div>
					<div class="c-name">
						<h4>Rishiraj S Sethi</h4>
						<a href="tel:+919820345740">+91 98203 45740</a>
						<a href="mailto:rishiraj@auraart.in">rishiraj@auraart.in</a>
					</div>
					<div class="c-name">
						<h4>Daljit S Sethi</h4>
						<a href="tel:++919820351667">+91 98203 51667</a>
					</div>
				</div>

				<div class="col">
					<div class="c-name">
						<h4> Gallery-cum-office</h4>
						<p> Aura Art eConnect Pvt Ltd
							<br> 126 TV Industrial Estate SK Ahire Marg Worli
							<br>Mumbai - 400 030
							<br>
							<a href="tel:+9124912325">Tel: +91 24912325</a>
							<br> <a href="tel:+9124904496">Tel: +91 24904496</a>
						</p>
					</div>
					<div class="c-name">
						<h4>Office</h4>
						<p>
							633 Fortune Tower Sayajigunj
							<br>Vadodara - 390 005</p>
					</div>
					<div class="c-name">
						<h4>Registered Office</h4>
						<p>Mangal Prabhat 7th Floor Gulmohar Cross Road No 7 Vile Parle (W)
							<br>Mumbai - 400 049</p>
					</div>
				</div>
			</div>
		</div>
		<a class="button button-block button-assertive icon-left ion-android-mail" ng-click="openContact();">
		Contact
		</a>
		<div class="bortop margin">
		</div>
		<div class="social-icon text-center">
			<ul>
				<li>
					<a ng-click="openFb()" target="_blank"> <i class="ion ion-social-facebook"></i></a>
				</li>
				<li>
					<a ng-click="openInsta()" target="_blank"> <i class="ion ion-social-instagram"></i></a>
				</li>
				<li>
					<a ng-click="openTwit()" target="_blank"> <i class="ion ion-social-twitter"></i></a>
				</li>
				<li>
					<a ng-click="openYt()" target="_blank"> <i class="ion ion-social-youtube"></i></a>
				</li>
			</ul>
		</div>
	</ion-content>
</ion-view>
