<ion-view class="custom-home">

  <ion-nav-title>
    <img src="img/logo.jpg" class="full-height">
  </ion-nav-title>

  <ion-tabs class="tabs-striped tabs-top tabs-color-active-positive ">
    <ion-tab title="Home"></ion-tab>
    <ion-tab title="Artists"></ion-tab>
    <ion-tab title="Paintings & More"></ion-tab>
  </ion-tabs>

  <ion-content class="has-tabs-top padding">
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <img src="img/slide1.jpg" class="full-image">
      </ion-slide>
      <ion-slide>
        <img src="img/slide2.jpg" class="full-image">
      </ion-slide>
    </ion-slide-box>
    <ion-list class="panel-list">
        <div class="item item-divider">Search for</div>
        <ion-checkbox>Paintings</ion-checkbox>
        <ion-checkbox>Sculptures</ion-checkbox>
        <ion-checkbox>Photographs</ion-checkbox>
        <ion-checkbox>Prints</ion-checkbox>
    </ion-list>
    <button class="button button-positive button-block">Search</button>

    <div class="heading padding-vertical assertive text-center">
      Customised Solutions
    </div>
    <div class="artbox">
      <div class="row">
        <div class="col">
          <img src="img/room.jpg" class="full-image">
          <span class="text-heading">View Artwork <br>
in your room</span>
        </div>
        <div class="col">
          <img src="img/frame.jpg" class="full-image">
          <span class="text-heading">Custom <br>Framing</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img src="img/sculpture.jpg" class="full-image">
          <span class="text-heading">Commisioned <br> Sculptures</span>
        </div>
        <div class="col">
          <img src="img/print1.jpg" class="full-image no-opacity">
        </div>
      </div>
    </div>

    <div class="heading padding-vertical assertive text-center">
      Artworks
    </div>
    <div class="artbox">
      <div class="row">
        <div class="col">
          <img src="img/painting1.jpg" class="full-image" alt="painting">
          <span class="text-heading">Paintings</span>
        </div>
        <div class="col">
          <img src="img/sculpture1.jpg" class="full-image" alt="sculpture">
          <span class="text-heading">Sculptures</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img src="img/photograph1.jpg" class="full-image" alt="photographs">
          <span class="text-heading">Photographs</span>
        </div>
        <div class="col">
          <img src="img/print1.jpg" class="full-image" alt="prints">
          <span class="text-heading">Prints</span>
        </div>
      </div>
    </div>

    <div class="heading padding-vertical assertive text-center">Contact Us</div>
    <div class="row">
      <div class="col">
        <h4>Daljit S Sethi</h4>
        <a href="tel:+919820351667">+91 98203 51667</a>

        <h4>Harmeet S Sethi </h4>
        <a href="tel:+919328877000">+91 93288 77000</a>
        <a href="mailto:harmeet@auraart.in">harmeet@auraart.in </a>
        <a href="mailto:harmeetssethi@gmail.com">harmeetssethi@gmail.com</a>

        <h4>Rishiraj S Sethi</h4>
        <a href="tel:+919820345740">+91 98203 45740</a>
        <a href="mailto:rishiraj@auraart.in">rishiraj@auraart.in</a>
        <a href="mailto:rishirajssethi@gmail.com">rishirajssethi@gmail.com</a>
      </div>
      <div class="col">
        <h4>Office (Mumbai)</h4>
        <p>A-117, 1st floor, Vinay Bhavya 159, CST Road, Kalina Santacruz (East)
          <br>Mumbai - 400 098
          <br>
          <a href="tel:+912226524557">Tel: +91 22 2652 4557</a>
        </p>

        <h4>Office (Vadodara)</h4>
        <p>633, Fortune Tower Sayajigunj
          <br>Vadodara - 390 005</p>

        <h4>Registered Office</h4>
        <p>Mangal Prabhat, 7th Floor Gulmohar Cross Road No 7 Vile Parle (W)
          <br>Mumbai - 400 049</p>
      </div>
    </div>
  </ion-content>

</ion-view>

