<ion-modal-view>
  <ion-header-bar class="header-rights" align-title="center">
    <h1 class="title">Press Images</h1>
    <div class="buttons">
      <button class="button button-clear button-icon ion-close-round btn-close" ng-click="closepressimage()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="img-holder-prd">
      <div class="box img-holder-big text-center">
        <img ng-src="{{pressImage | uploadpath}}" class="full-image">
      </div>
    </div>
  </ion-content>
</ion-modal-view>
