<ion-modal-view>
    <ion-header-bar class="header-rights" align-title="center">
        <h1 class="title">Search Element</h1>
        <div class="buttons">
            <button class="button button-clear button-icon ion-close-round btn-close" ng-click="closeSearch5()"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="item item-input">
            <ui-select ng-model="filterby.element" on-select="setElementSearch($select);">
                <ui-select-match class="text-capitalize" placeholder="Elements (Eg. Buddha, Bird)">{{filterby.element}}</ui-select-match>
                <ui-select-choices refresh-delay="0" refresh="getElementDropdown($select.search)" repeat="person in allElement track by person._id">
                    <div ng-bind-html="person.name| addhighlight: $select.search" class="text-capitalize"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </ion-content>
</ion-modal-view>
