<ion-modal-view>
  <ion-header-bar class="header-rights" align-title="center">
    <h1 class="title">
    Send Us Query
    </h1>
    <div class="buttons">
      <button class="button button-clear button-icon ion-close-round btn-close" ng-click="closeContact()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="contact-form">
      <!-- <h4 class="">Send Us Query</h4> -->
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Name">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Phone No">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Email ID*" required>
        </label>
        <label class="item item-input">
          <textarea placeholder="Observations &amp; Queries *" required></textarea>
        </label>
        <div class="padding">
          <button class="button button-block button-positive">
            Submit
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
