<ion-modal-view>
    <ion-header-bar class="header-rights" align-title="center">
        <h1 class="title">Search Artist</h1>
        <div class="buttons">
            <button class="button button-clear button-icon ion-close-round btn-close" ng-click="closeSearch1()"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="item item-input custom-ui-select">
            <ui-select demo="{{onfock}}" ng-model="filterby.search" on-select="setSearch($select);">
                <ui-select-match class="text-capitalize" placeholder="Enter/Select Artist Name">{{filterby.search}}</ui-select-match>
                <ui-select-choices refresh-delay="0" refresh="getDropdown($select.search)" repeat="person in allartist track by person._id">
                    <div ng-bind-html="person.name| addhighlight: $select.search" class="text-capitalize"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </ion-content>
</ion-modal-view>
