<ion-modal-view>
    <ion-header-bar align-title="center" class="header-rights">
        <h1 class="title">Sign Up</h1>
        <div class="buttons">
            <a class="button button-clear button-icon ion-close-round btn-font" href="" ng-click="closeRegister()"></a>
        </div>
    </ion-header-bar>
    <ion-content class="">
        <!--		<h4 class="title text-center">Sign Up</h4>-->
        <div class="text-center">
            <figure>
                <img src="img/logo.png" class="full-size" width="60%">
            </figure>
        </div>
        <form ng-submit="doSignup()">
            <div class="list reg-login">
                <label class="item item-input">
                    <i class="icon ion-ios-email placeholder-icon"></i>
                    <input ng-model="register.email" type="email" placeholder="Email">
                </label>
                <label class="item item-input">
                    <i class="icon ion-person placeholder-icon"></i>
                    <input type="text" ng-model="register.name" placeholder="Name">
                </label>
                <label class="item item-input">
                    <i class="icon ion-locked placeholder-icon"></i>
                    <input type="password" ng-model="register.password" placeholder="Password">
                </label>
                <label class="item item-input">
                    <i class="icon ion-locked placeholder-icon"></i>
                    <input type="password" ng-model="register.confirmpassword" placeholder="ConfirmPassword">
                </label>
                <div class="btn-grp padding">
                    <button class="button button-block button-positive" type="submit">Sign in</button>
                </div>
                <p class="text-center" ng-show="showAlreadyRegistered">Email id already registered</p>
                <p class="text-center" ng-show="passwordNotMatch">Password Mismatch</p>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
