<ion-view title="Personal Info">
	<ion-content class="has-header cont-checkout personal-radio">
		<form ng-submit="edituser();" name="personal">
			<div class="list" ng-if="user">
				<label class="item item-input">
					<input type="text" placeholder="Name*" ng-model="user.name" required>
				</label>
				<label class="item item-input">
					<input type="text" placeholder="Email ID" ng-model="user.email" required>
				</label>
				<label class="item item-input">
					<input type="text" placeholder="Secondary Email ID" ng-model="user.secemail">
				</label>
				<label class="item item-input">
					<input type="tel" placeholder="Phone No" ng-model="user.mob" required>
				</label>
				<label class="item item-input item-select">
					<div class="input-label">
						Gender
					</div>
					<select placeholder="country" ng-model="user.gender" required>
						<option value="">Please Select</option>
						<option value="male">Male</option>
						<option value="female">Female</option>
					</select>
			</div>
			<div class="padding-horizontal">
				<button type="submit" class="button button-full button-positive" ng-disabled="personal.$invalid">
					Save
				</button>
			</div>
		</form>
	</ion-content>
</ion-view>
