<ion-view title="Press">
	<ion-content class="padding">
		<div class="media">
			<div class="all-events search-box media mediacov">
				<div class="row-boot" ng-repeat="year in pressYear | orderBy:'year':true">
					<h5 class="assertive home-header">Media Coverage {{year}}</h5>
					<div class="col-md50" ng-repeat="media in press[year]">
						<div class="media-detail">
							<div class="data">
								<h6 class="positive">{{media.title}}</h6>
								<p>{{media.date|date}}</p>
							</div>
							<div class="media-img text-center">
								<figure>
									<img ng-src="{{media.photos|uploadthumbnail}}" class="full-size" ng-click="showpressimage(media.photos);">
								</figure>
							</div>
						</div>
					</div>
				</div>
				<!-- <h5 class="assertive home-header">Media Coverage 2014</h5>
				<div class="row" ng-repeat="media in media2014">
					<div class="col-50" ng-repeat="media2014 in media">
						<ion-gallery ion-gallery-items="photos" ng-if="photos"></ion-gallery>

						<div class="media-detail">
							<div class="data">
								<h6 class="positive">{{media2014.name}}</h6>
								<p>{{media2014.date}}</p>
							</div>
							<div class="media-img text-center">
								<figure>
									<img ng-src="{{media2014.img}}" class="full-size" ng-click="showpressimage();">
								</figure>
							</div>
						</div>
					</div>
				</div> -->
			</div>
		</div>
	</ion-content>
</ion-view>
