<ion-view classs="bar-stable" title="Saved Views">
  <ion-nav-buttons side="right">
    <a class="button button-clear button-icon right-btn ion-ios-telephone btn-font" href="tel:+9124904496 "></a>
    <a class="button button-clear button-icon right-btn ion-android-search btn-font" href="#/app/search"></a>
    <button class="button button-icon ion-android-cart right-btn cart-btn"> <span class="badge badge-assertive cart">0</span></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="row" ng-repeat="detail in savedviews">
      <div class="col-50 padding-horizontal" ng-repeat="details in detail">
        <div class="prd-cont">
          <a href="#/app/art-detail">
            <div>
              <figure>
                <img ng-src="{{details.image}}" class="full-image">
              </figure>
            </div>
          </a>
          <div class="artist-cont-detail">
            <button class="button button-block button-positive">
              Download
            </button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
