<ion-view classs="bar-stable" title="Saved Views">
  <ion-content>
    <div class="row" ng-repeat="myview in views" ng-if="views.length>0">
      <div class="col-50 padding-horizontal" ng-repeat="view in myview">
        <div class="prd-cont">
          <a href="">
            <div>
              <figure>
                <img ng-src="{{view | roompath}}" class="full-image">
              </figure>
            </div>
          </a>
          <div class="artist-cont-detail">
            <button class="button button-block button-positive" ng-click="downloadView(view)">
              Share
            </button>
          </div>
        </div>
      </div>
    </div>
    <ion-list ng-if="views.length==0">
			<ion-item>
				<p class="text-center font-special">You haven't saved any views yet.</p>
			</ion-item>
		</ion-list>
  </ion-content>
</ion-view>
