<ion-view title="Search">
    <div class="bar bar-subheader subheader-search bar-stable item-input-inset rel">
        <label class="item-input-wrapper cust-css">
            <i class="icon ion-ios-search"></i>
            <input type="search" class="form-control" autocomplete="off" required id="topsearch" placeholder="Search..." ng-model="art.search" ng-change="onSearchChange(art.search)">
        </label>
        <button class="button button-clear button-icon ion-ios-close-empty" ng-click="clearSearch()">
        </button>
        <ul class="posa" ng-show="showDropDown">
            <li ng-repeat="data in searchData" ng-click="selectSearch(data)">
                <span class="pull-right"> {{data.type}}</span>{{data.name}}
            </li>
        </ul>
    </div>
    <ion-content class="has-subheader">
        <!--
		<div class="bar bar-subheader bar-positive">
			<label class="item-input-wrapper">
				<i class="icon ion-ios-search placeholder-icon"></i>
				<input type="search" placeholder="search...">
			</label>
			<button class="button button-icon button-clear">Cancel
			</button>
		</div>
-->
        <div class="row padding-vertical" ng-repeat="totalartcont in searchResults track by $index">
            <div class="col-50 padding-horizontal" ng-repeat="totalartconts in totalartcont track by $index">
                <div class="prd-cont">
                    <a href="">
                        <div class="img-holder">
                            <figure>
                                <img ng-src="{{totalartconts.artwork.image[0]|uploadthumbnail}}" class="full-image">
                            </figure>
                        </div>
                    </a>
                    <div class="artist-cont-detail">
                        <p>
                            {{totalartconts.artwork.imageno}}
                        </p>
                        <p>
                            {{totalartconts.name}}
                        </p>
                        <p>
                            {{totalartconts.artwork|makesizestr}}
                        </p>
                        <p ng-if="totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' && totalartconts.artwork.status!='sold'">
                            Rs {{totalartconts.artwork.gprice|inlakhs}} / ${{totalartconts.artwork.gprice|indollars}}
                        </p>
                        <p ng-if="!totalartconts.artwork.gprice || totalartconts.artwork.gprice=='N/A'">
                            Price available on request
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <ion-list ng-if="searchForSomething">
    			<ion-item>
    				<p class="text-center font-special">Search for something...
    				</p>
    			</ion-item>
    		</ion-list>
        <!-- <ion-infinite-scroll on-infinite="addMoreItems()" ng-if="infiniteLoading"></ion-infinite-scroll> -->
    </ion-content>
    <!-- <ion-footer-bar class="tabs-down">
        <div class="tabs">
            <a class="tab-item" ng-click="showFilter();">
    Filter
  </a>
            <a class="tab-item" ng-click="showSort();">
    Sort
  </a>
        </div>
    </ion-footer-bar> -->
</ion-view>
