<ion-view title="Tracing Order">
	<ion-nav-buttons side="right">
		<a class="button button-clear button-icon right-btn ion-android-search btn-font" href="#/app/search"></a>
		<button class="button button-icon ion-android-cart right-btn cart-btn"> <span class="badge badge-assertive cart">0</span></button>
	</ion-nav-buttons>
	<ion-content class="has-header cont-checkout">
		<div class="list">
			<label class="item item-input">
				<input type="text" placeholder="Enter Order Id *" required>
			</label>
			<div class="item">
				<h2 class="pending bolds">Your Order Status Is :</h2>
				<p>The shipment was sent through</p>
				<p> Ekart Logistics Shipment
					<br> Tracking ID: WSRC4251982428</p>
			</div>
		</div>
		<div class="padding-horizontal">
			<button class="button button-full button-positive">
				Save
			</button>
		</div>
	</ion-content>
</ion-view>