<ion-view classs="bar-stable" title="Wishlist">
	<ion-nav-buttons side="right">
		<a class="button button-clear button-icon right-btn ion-android-search btn-font" href="#/app/search"></a>
		<button class="button button-icon ion-android-cart right-btn cart-btn"> <span class="badge badge-assertive cart">0</span></button>
	</ion-nav-buttons>
	<ion-content>
		<div class="list thumbnail">
			<a class="item item-thumbnail-left">
				<img src="img/artist/artist1.jpg">
				<h3>Id</h3>
				<h3 class="">Artist Name</h3>
				<h3 class="">Title Name</h3>
				<h3>Rs.1,00,000/ $6,400</h3>
<!--				<h3 class="">Quantity: 1</h3>-->
				<button class="button button-clear button-assertive button-small remove-btn">REMOVE</button>
			</a>
			<a class="item item-thumbnail-left">
				<img src="img/artist/artist1.jpg">
				<h3>Id</h3>
				<h3 class="">Artist Name</h3>
				<h3 class="">Title Name</h3>
				<h3>Rs.1,00,000/ $6,400</h3>
<!--				<h3 class="">Quantity: 1</h3>-->
				<button class="button button-clear button-assertive button-small remove-btn">REMOVE</button>
			</a>
			<a class="item item-thumbnail-left">
				<img src="img/artist/artist1.jpg">
				<h3>Id</h3>
				<h3 class="">Artist Name</h3>
				<h3 class="">Title Name</h3>
				<h3>Rs.1,00,000/ $6,400</h3>
<!--				<h3 class="">Quantity: 1</h3>-->
				<button class="button button-clear button-assertive button-small remove-btn">REMOVE</button>
			</a>
	</ion-content>
</ion-view>