<ion-view classs="bar-stable" title="Wishlist">
	<ion-nav-buttons side="right">
		<a class="button button-clear button-icon right-btn ion-android-search btn-font" href="#/app/search"></a>
		<button class="button button-icon ion-android-cart right-btn cart-btn"> <span class="badge badge-assertive cart">0</span></button>
	</ion-nav-buttons>
	<ion-content>
		<div class="list thumbnail">
			<a class="item item-thumbnail-left" ng-repeat="item in wishlist_item">
				<img ng-src="{{item.img}}">
				<h3>{{item.id}}</h3>
				<h3 class="">{{item.name}}</h3>
				<h3 class="">{{item.typename}}</h3>
				<h3>{{item.price}}</h3>
				<button class="button button-clear button-assertive button-small remove-btn">REMOVE</button>
			</a>
	</ion-content>
</ion-view>