/* Empty. Add your own CSS if you like */

a {
	text-decoration: none;
	color: $base;
}

.pull-right {
	float: right;
}

.bold {
	font-weight: 700;
}

.full-height {
	height: 100%;
}

.logo {
	width: 115px;
	margin-top: 5px;
}

.artbox .col {
	position: relative;
	padding: 2px;
}

.artbox .row {
	padding: 0;
	margin: 0;
}

//.item-divider {
//	padding-top: 4px;
//	padding-bottom: 4px;
//	line-height: 1.4;
//}
.artbox .row+.row .col {
	padding-top: 0;
	margin-top: -3px;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.htwo h2 {
	text-transform: uppercase;
	color: $assertive;
}

.prd-holder,
.prd-cont {
	padding-right: 15px;
	min-height: 240px;
	padding-bottom: 20px;
	.full-image {
		width: auto;
		max-width: 100%;
		max-height: 200px;
	}
	.artist-cont-detail p i {
		float: right;
		padding-right: 10px;
		font-size: 15px;
	}
	i.active {
		color: $assertive;
	}
}

i.icon.ion-heart {
	color: #ddd;
}

.item-input {
	textarea {
		resize: none;
	}
}

.prd-holder {
	padding-bottom: 0px;
}

.artist-cont-detail p {
	margin: 0 0;
	font-size: 12px;
	line-height: 120%;
}

.animate-if.ng-enter,
.animate-if.ng-leave {
	transition: all cubic-bezier(.43, .55, .93, .88) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
	opacity: 0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
	opacity: 1;
}

.img-artist .col-25 {
	padding-right: 3px;
}

.head {
	padding: 0 10px;
}

.logo-sign {
	padding: 25px 0;
}

.list.reg-login .item {
	padding: 2px 16px;
	border: 0px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 1px;
}

.button {
	//	line-height: 20px;
	min-height: 40px;
}

.list.reg-login {
	margin-top: 20px;
}

.btn-grp {
	.button-positive {
		margin-bottom: 0px;
	}
	button.button.button-block.button-fb {
		border-color: #3c5a98;
		background-color: #3c5a98;
		color: #fff;
	}
	.button.button-block.button-twit {
		border-color: #3C89E2;
		background-color: #3C89E2;
		color: #fff;
	}
	.button.button-block.button-gplus {
		border-color: #dd4d3b;
		background-color: #dd4d3b;
		color: #fff;
	}
}

.row.reg a {
	color: $assertive;
	text-decoration: none;
}

.title h5 {
	text-transform: capitalize;
}

.img-holder {
	height: 200px;
	margin-bottom: 10px;
}

.artist-cont-detail i {
	color: #ddd;
}

i.positive {
	color: $positive;
}

i.assertive {
	color: $assertive;
}

.head-team {
	text-transform: uppercase;
	margin-top: 0px;
	color: $assertive;
}

.teams-done h4 {
	font-size: 16px;
}

.team-style {
	ul {
		padding-left: 17px;
		padding-top: 2px;
		list-style-image: url('../img/bullet.jpg');
		margin-bottom: 0px;
	}
	h5 {
		margin: 0;
		font-weight: 600;
		text-transform: capitalize;
	}
	p,
	li {
		margin: 0;
		color: #000;
		font-size: 13px;
		font-weight: 300;
		line-height: 140%;
	}
	.button {
		text-transform: lowercase;
	}
}

.activities {
	ul {
		padding-left: 17px;
		padding-top: 2px;
		list-style: initial;
		margin-bottom: 0px;
		li {
			text-align: justify;
			margin: 0;
			color: #000;
			font-size: 13px;
			font-weight: 300;
			line-height: 140%;
			ul {
				list-style-type: disc;
			}
		}
	}
}

.padding-more p {
	text-align: justify;
	margin: 0;
	color: #000;
	font-size: 13px;
	font-weight: 300;
	line-height: 140%;
}

ul.artist-crisp {
	display: table;
	margin: 5px 0px;
	li {
		display: table-cell;
		padding: 5px 5px;
		border: 0px;
	}
	a {
		padding: 0 5px;
		text-transform: uppercase;
	}
	a.actives {
		color: $positive;
		border-bottom: 3px solid $positive;
	}
}

.grid-view {
	position: relative;
	float: right;
	padding-right: 20px;
	&:before {
		position: absolute;
		top: 40%;
		right: 28px;
		margin-top: 0px;
		width: 0;
		height: 0;
		border-top: 5px solid;
		border-right: 5px solid rgba(0, 0, 0, 0);
		border-left: 5px solid rgba(0, 0, 0, 0);
		color: #000;
		content: "";
		pointer-events: none;
		z-index: 999999;
	}
	select {
		background-color: #ddd;
		border-color: #ddd;
		padding: 1px 20px 1px 2px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		font-weight: normal;
	}
}

ul.lineul + ul.lineul {
	padding-left: 10px;
}

.list-view {
	display: table;
	padding-left: 10px;
	margin-top: 10px;
	ul.lineul {
		display: table-cell;
		list-style: none;
		font-size: 12px;
		text-transform: uppercase;
		li {
			line-height: 120%;
			margin-bottom: 7px;
		}
	}
}

.list.list-details {
	.item {
		padding: 5px 10px;
		border: 0px;
		//		font-size: 14px;
	}
	span.label {
		display: table;
		padding: 7px 10px 7px 0px;
		max-width: 200px;
		width: 30%;
		color: #444;
		font-size: 16px;
	}
	.item-map {
		padding-right: 10px;
		font-size: 14px;
	}
}

.head-artist {
	h5 {
		text-transform: uppercase;
	}
}

.style1-bg {
	background-color: #e6e7e9;
}

.img-holder-big a {
	position: absolute;
	color: #ccc;
	right: 10px;
	top: 5px;
	z-index: 9999;
	i {
		padding-left: 5px;
	}
}

.button.button-small {
	line-height: 27px;
	min-height: 30px;
}

.item-input-inset .item-input-wrapper input {
	padding-left: 4px;
	height: 30px;
	background: transparent;
	line-height: 18px;
	width: 100%;
}

.item.item-input-inset.item-positive-mate label {
	border-radius: 0px;
}

a.item.cart-cont {
	padding: 8px 16px;
	font-size: 14px;
	.item-note {
		font-size: 12px;
	}
}

.button-small.remove-btn {
	padding: 0 1px;
}

//.checkbox input,
//.checkbox-icon {
//	&::before {
//		display: table;
//		width: 20px;
//		height: 20px;
//		margin-top: 4px;
//		background: #fff;
//		border-radius: 0px;
//	}
//	&::after {
//		top: 18%;
//		left: 13%;
//	}
//}
.cont-checkout {
	label.item.item-input {
		padding: 2px 16px;
	}
	.input-label {
		font-size: 14px;
		width: 40%;
	}
	.item-select select {
		width: 60%;
	}
	.item-checkbox {
		padding-top: 8px;
		padding-bottom: 8px;
		font-size: 14px;
	}
	.item.pad-nomore {
		padding-top: 8px;
		padding-bottom: 8px;
		font-size: 14px;
	}
}

.white-line {
	h5 {
		font-weight: 500;
		margin-bottom: 2px;
	}
	p {
		line-height: 150%;
		.row .col {
			padding-right: 0px;
		}
	}
}

.contact-form {
	h4 {
		font-size: 16px;
		padding: 0 10px;
		margin-bottom: 5px;
	}
	.list {
		label {
			padding: 4px 10px;
		}
	}
}

.media-detail {
	margin-right: 10px;
	min-height: 230px;
	h6 {
		margin-bottom: 0px;
		text-transform: uppercase;
	}
	p {
		margin-bottom: 5px;
		text-transform: uppercase;
		font-size: 12px;
	}
	.media-img {
		height: 180px;
		img {
			max-width: 100%;
			max-height: 180px;
		}
	}
}

.event-detail {
	margin-right: 10px;
	min-height: 285px;
	.data-event {
		height: 85px;
		overflow: hidden;
		margin-bottom: 10px;
		h6 {
			text-transform: uppercase;
			font-size: 11px;
			margin-bottom: 5px;
			display: -webkit-inline-box;
			height: 40px;
			overflow: hidden;
			vertical-align: middle;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 3;
		}
		p {
			margin-bottom: 5px;
			font-size: 11px;
			line-height: 140%;
			text-transform: uppercase;
			display: -webkit-inline-box;
			vertical-align: middle;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
		}
	}
	.media-img {
		min-height: 180px;
		img {
			max-width: 100%;
			max-height: 180px;
		}
	}
}

.event-pic {
	max-width: 100%;
	margin-right: 5px;
	height: 70px;
	overflow: hidden;
	margin-bottom: 10px;
	img {
		max-width: 100%;
	}
}

h5.home-header {
	margin-bottom: 5px;
	font-size: 16px;
	text-transform: uppercase;
}

h5.eventhead {
	margin-bottom: 0px;
}

.eventpad {
	.eventdetail {
		margin-bottom: 10px;
		p {
			font-size: 12px;
			text-align: justify;
		}
		span {
			font-weight: 600;
			font-size: 12px;
		}
	}
}

.box-style1 {
	min-height: 250px;
	margin-right: 5px;
	h5 {
		font-size: 13px;
		min-height: 40px;
		margin-bottom: 0px;
	}
	p {
		font-size: 12px;
		height: 55px;
		overflow: hidden;
		text-align: left;
		line-height: 145%;
	}
	a {
		font-size: 12px;
		text-align: right;
	}
	.readmore2 {
		text-align: right;
		a {
			font-size: 12px;
		}
	}
	.infra-img-holder {
		min-height: 100px;
		img {
			height: 100px;
			width: 100%;
		}
	}
}

.row-headleft {
	margin-top: 5px;
	font-size: 14px;
	span {
		font-weight: 600;
		margin-bottom: 5px;
	}
	p {
		font-size: 12px;
		line-height: 140%;
		margin-bottom: 5px;
	}
	ul {
		li {
			font-size: 12px;
			line-height: 140%;
			margin-bottom: 10px;
			text-align: justify;
		}
	}
}

.row-head p {
	margin-bottom: 0px;
	margin-top: 10px;
	text-transform: uppercase;
}

.read-inner {
	input {
		border: 1px solid #ddd;
		padding-left: 7px;
	}
}

.read-morecont {
	transition: all 600ms ease;
	overflow: hidden;
	//	margin: 5px 0;
}

.margin-btm {
	margin-bottom: 5px;
}

.cont-artist {
	h4 {
		margin-top: 0px;
	}
	.text-right.readmore {
		padding-right: 15px;
	}
}

//.list.margin-btm {
//	.list {
//		.item {
//			padding-bottom: 6px;
//		}
//	}
//}
.home-holder {
	border: 1px solid #ddd;
	.item-input {
		padding: 10px;
	}
}

.panel-body {
	font-size: 12px;
}

.maxmin {
	width: 40%;
	padding-left: 5px;
}

.panel-heading {
	font-size: 14px;
	font-weight: 600;
}

ion-footer-bar.tabs-down.bar.bar-footer {
	padding: 0;
	.tabs {
		background: #fff;
		height: 38px;
		line-height: 32px;
		a.tab-item {
			border-right: 1px solid #ddd;
			border-top: 1px solid #ddd;
			min-height: 0px;
		}
	}
}

.list.thumbnail {
	.item-thumbnail-left {
		padding-bottom: 5px;
	}
	button.remove-btn {
		line-height: 0px;
		min-height: 20px;
	}
}

.list.catogories {
	.item {
		.item-content {
			padding: 10px 15px;
		}
		i.radio-icon.ion-checkmark {
			padding: 5px 14px;
			color: $positive;
		}
	}
}

.header-rights.bar .button.button-icon .icon:before,
.header-rights.bar .button.button-icon:before,
.header-rights.bar .button.button-icon.icon-right:before {
	font-size: 20px;
	line-height: 32px;
}